{% extends 'main/layout.html'%}

{%block title%}Home page{%endblock%}
{%block content%}
<div class="container">
    <br>
    <div class="main_title">
        <div class="alert alert-success">
            <div class="title">
                <h4 class="text-light">Hello there: <span class="text-warning">{{message}}</span></h4>
                <form method="get">
                    {%csrf_token%}
                    <button class="btn btn-danger" type="submit" name="logout" value="logout">logout</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="alert alert-dark">
        <table class="table table-dark table-hover table-bordered">
            <thead>
            <tr>
                <th>name</th>
                <th>create date</th>
                <th>status</th>
                <th>details</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>DataList</th>
                <th>19.08.2022</th>
                <th>
                    <span class="bg-warning text-dark">{{res}}</span>
                </th>
                <th>
                    <div class="active_buttons">
                        <a class="btn btn-success" data-target="#data"
                           data-toggle="modal">info</a>
                        <form method="get">
                            {%csrf_token%}
                            <button class="btn btn-light" type="submit" name="download" value="download">download
                            </button>
                        </form>
                        </form>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="data">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create csv_file</h5>
                    <button type="button" class="close btn btn-danger text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="get">
                    {% csrf_token %}
                    <div class="modal-body">
                        <input type="text" class="form-control" name="rows">
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark">Create_rows</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{%endblock%}